{% extends "template.html" %}

{% block body %}
{{ block.super }}

<h1 class="alert alert-danger">Přihláška nemohla být přijata.</h1>
<p class="alert alert-danger">
Uživatel se jménem <em>{{ name }}</em> a e-mailem <em>{{ email }}</em> již byl na tento kurz registrován.
</p>
<p>
Zkontrolujte, zda na e-mail <em>{{ email }}</em> bylo odesláno potvrzení přihlášky.
</p>
<p>
V případě jakýchkoliv dotazů nás prosím kontaktujte na adrese
<abbr title="uveďte e-mail ve správném formátu">info&nbsp;[zavináč]&nbsp;gismentors&nbsp;[tečka]&nbsp;cz</abbr>.
</p>
<p>
Děkujeme,
</p>
<p>
GISMentors
</p>
{% endblock %}
