{% extends "template.html" %}
{% block navigation %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Seznam kurzů</li>
  </ol>
</nav>
{% endblock %}
{% block body %}
{{ block.super }}
<h2>Nadcházející kurzy</h2>
{% if latest_courses_list %}
    <table class="table table-striped">
    <thead class="thead-light">
     <tr>
          <th>Kurz</th>
          <th>Datum</th>
          <th>Včasná registrace</th>
          <th>Místo</th>
          <th>Závazná přihláška</th>
         </tr>
    <tbody>
    {% for course in latest_courses_list %}
        <tr class="{{ course.status }}">
            <td>
                <a href="{{ course.course_type.detail }}" target="_blank">
                    <img class="course_type" src="{{ course.course_type.image.url }}" />
                    {{ course.course_type.title }}
                {% if course.course_type.level is not none %}
                -
                {% for key, value in level_choices %}
                    {% if key == course.course_type.level %}
                        {{ value }}
                    {% endif %}
                {% endfor %}
                {% endif %}
                </a>
            </td>
            <td>
                <strong>{{ course.date }}</strong>
            </td>
            <td>
                {{ course.early_date }}
            </td>
            <td>
                {{ course.location.organisation }},
                {{ course.location.city }}
            </td>
            <td>
                {% if course.status == 'published' %}
                    <a class="btn btn-outline-primary" role="button" href="{% url 'course' course.id %}">Přihlásit se</a>
                {% else %}
                    {% if course.status == 'declined' %}
                    Termín zrušen
                    {% endif %}
                    {% if course.status == 'closed' %}
                    <abbr title="v případě potřeby se na nás obraťte
                        e-mailem">Kapacita kurzu byla naplněna</abbr>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% else %}
    <p>Momentálně nejsou vypsány žádné kurzy. V případě potřeby nás kontaktujte e-mailem na adrese 
        <a href="mailto:info@gismentors.cz">info@gismentors.cz</a>
    </p>
{% endif %}
{% endblock %}
