{% extends "template.html" %}

{% block body %}
{{ block.super }}

<h1>Přihláška byla úspěšně odeslána</h1>
<p>
Děkujeme Vám za přihlášení na kurz GISMentors <em>{{ course_name }}</em>, který
se bude konat <em>{{ course_date|date:'d.m.Y.' }}</em> .
</p>
<p>
Na e-mail účastníka {{ attendee }} bude nejpozději následující pracovní den
odesláno potvrzení přihlášky a další informace o kurzu.
</p>
<ul>
    <li>
        <a href="{% url 'course' course_id %}">Další přihlášení</a>
    </li>
    <li>
        <a href="{% url 'courses' %}">Seznam školení</a>
    </li>
</ul>
<p>
V případě nejasností nebo dotazů nám prosím napište na adresu 
<abbr title="uveďte e-mail ve správném formátu">info&nbsp;zavináč&nbsp;gismentors&nbsp;tečka&nbsp;cz</abbr>.
</p>
{% endblock %}
