{% extends "template.html" %}

{% block body %}
{{ block.super }}

<h1>Přihláška byla úspěšně odeslána</h1>
<p>
Děkujeme Vám za přihlášení na kurz <a href="{{ course.course_type.detail }}" target="_blank">{{ course.course_type.title }} - {{ level }}</a>
pořádaný <a href="http://gismentors.cz" target="_blank">GISMentors</a>, který se bude konat <em>{{ course_date }}</em>.
</p>
<p>
Na e-mail <em>{{ mail }}</em> bylo odesláno potvrzení přihlášky.
</p>
<ul>
    <li>
        <a href="{% url 'course' course_id %}">Další přihlášení</a>
    </li>
    <li>
        <a href="{% url 'courses' %}">Seznam kurzů</a>
    </li>
</ul>
<p>
V případě jakýchkoliv dotazů nás prosím kontaktujte e-mailem na adrese 
    <a href="mailto:info@gismentors.cz">info@gismentors.cz</a>
</p>
<p>
Děkujeme,
</p>
<p>
GISMentors
</p>
{% endblock %}
