{% extends "template.html" %}

{% block body %}
{{ block.super }}

<h1>Přihláška byla úspěšně odeslána</h1>
<p>
Děkujeme Vám za přihlášení na kurz <em>{{ course_name }}</em> pořádaný
<a href="http://gismentors.cz">GISMentors</a>, který se bude konat <em>{{ course_date }}</em>.
</p>
<p>
Na e-mail <em>{{ mail }}</em> bylo odesláno potvrzení přihlášky.
</p>
<ul>
    <li>
        <a href="{% url 'course' course_id %}">Další přihlášení</a>
    </li>
    <li>
        <a href="{% url 'courses' %}">Seznam kurzů</a>
    </li>
</ul>
<p>
V případě jakýchkoliv dotazů nás prosím kontaktujte na adrese
<abbr title="uveďte e-mail ve správném formátu">info&nbsp;[zavináč]&nbsp;gismentors&nbsp;[tečka]&nbsp;cz</abbr>.
</p>
<p>
Děkujeme,
</p>
<p>
GISMentors
</p>
{% endblock %}
